[Desktop Entry]
Name=ISO Image Writer
Name[az]=ISO Image Writer
Name[bg]=ISO Image Writer
Name[ca]=ISO Image Writer
Name[ca@valencia]=ISO Image Writer
Name[cs]=Počasí
Name[de]=Weather
Name[el]=Καιρός
Name[en_GB]=Weather
Name[eo]=Weather
Name[es]=Meteorología
Name[et]=Ilmateade
Name[eu]=Eguraldia
Name[fi]=Weather
Name[fr]=Météo
Name[gl]=Meteoroloxía
Name[he]=מזג אוויר
Name[hi]=मौसम
Name[hu]=Időjárás
Name[ia]=Tempore meteorologic-Weather
Name[is]=Veður
Name[it]=Meteo
Name[ka]=Weather
Name[ko]=날씨
Name[lt]=Orai
Name[lv]=Laikapstākļi
Name[nb]=Værmelding
Name[nl]=Het weer
Name[nn]=Vêrmelding
Name[pa]=ਮੌਸਮ
Name[pl]=Pogoda
Name[pt]=Meteorologia
Name[pt_BR]=Meteorologia
Name[ro]=Vremea
Name[ru]=Погода
Name[sa]=वातावरणम्‌
Name[sk]=Počasie
Name[sl]=Weather
Name[sv]=Väder
Name[tr]=Hava Durumu
Name[uk]=Погода
Name[x-test]=xxWeatherxx
Name[zh_CN]=天气
Name[zh_TW]=天氣
Comment=View real-time weather forecasts and other information
Comment[az]=Hazırkı vaxt hava məlumatına və digər məlumatlara baxış
Comment[bg]=Метеорологични прогнози в реално време и друга информация
Comment[ca]=Visualitza previsions meteorològiques en temps real i altra informació
Comment[ca@valencia]=Visualitza previsions meteorològiques en temps real i altra informació
Comment[de]=Echtzeit-Wettervorschau und weitere Informationen anzeigen
Comment[el]=Προβολή πρόγνωσης του καιρού σε πραγματικό χρόνο και άλλες πληροφορίες
Comment[en_GB]=View real-time weather forecasts and other information
Comment[eo]=Rigardi realtempajn veterprognozojn kaj aliajn informojn
Comment[es]=Visualice previsiones meteorológicas y otra información en tiempo real
Comment[eu]=Ikusi denbora errealeko eguraldi aurreikuspenak eta beste informazio batzuk
Comment[fi]=Näytä tosiaikaiset sääennusteet ja muuta tietoa
Comment[fr]=Afficher les prévisions météorologiques en temps réel et d'autres informations.
Comment[gl]=Vexa a predición meteorolóxica e outra información en tempo real.
Comment[he]=הצגת תחזיות מזג אוויר בזמן אמת ופרטים נוספים
Comment[hi]=वास्तविक समय मौसम पूर्वानुमान और अन्य जानकारी देखें
Comment[hu]=Valós idejű időjárás-előrejelzések és egyéb információk megtekintése
Comment[ia]=Vista de previsiones de tempore in tempore real e altere information
Comment[is]=Skoðaðu veðurspár í rauntíma og aðrar upplýsingar
Comment[it]=Visualizza le previsioni meteo in tempo reale e altre informazioni
Comment[ka]=ამინდის პროგნოზებისა და სხვა ინფორმაციის რეალურ დროში ნახვა
Comment[ko]=실시간 일기 예보와 기타 정보 표시
Comment[lt]=Rodyti tikralaikes orų prognozes ir kitą informaciją
Comment[lv]=Iegūstiet reāllaika laikapstākļu prognozes un citu informāciju
Comment[nb]=Vis værmeldinger og annen værinformasjon i sanntid
Comment[nl]=Realtime weersverwachtingen en andere informatie bekijken
Comment[nn]=Vis vêrmeldingar og annan vêrinformasjon i sanntid
Comment[pa]=ਮੌਕੇ ਉੱਤੇ ਮੌਸਮ ਦੀਆਂ ਭਵਿੱਖਬਾਣੀਆਂ ਅਤੇ ਹੋਰ ਜਾਣਕਾਰੀਆਂ ਨੂੰ ਵੇਖੋ
Comment[pl]=Oglądaj prognozę pogody w czasie rzeczywistym i inne dane
Comment[pt]=Ver as previsões meteorológicas e outras informações em tempo-real
Comment[pt_BR]=Visualizar previsões meteorológicas em tempo real e outras informações
Comment[ro]=Vedeți prognoza vremii în timp real și alte informații
Comment[ru]=Просмотр прогнозов погоды и другой информации в режиме реального времени
Comment[sa]=वास्तविकसमयस्य मौसमस्य पूर्वानुमानं अन्यसूचनाः च पश्यन्तु
Comment[sl]=Ogledujte si sprotne vremenske napovedi in ostale informacije
Comment[sv]=Visa väderprognos och annan information i realtid
Comment[tr]=Hava Durumu Tahmini Görüntüleyicisi
Comment[uk]=Перегляд інтерактивних прогнозів погоди та інших даних
Comment[x-test]=xxView real-time weather forecasts and other informationxx
Comment[zh_CN]=查看实时天气预报和其他信息
Comment[zh_TW]=查看即時天氣預報和其他資訊
Exec=isoimagewriter
Icon=org.kde.isoimagewriter
Type=Application
Terminal=false
Categories=Qt;KDE;Utility;
X-KDE-FormFactor=desktop;tablet;handset;
