#include <windows.h>

#undef CREATEPROCESS_MANIFEST_RESOURCE_ID

CREATEPROCESS_MANIFEST_RESOURCE_ID      RT_MANIFEST    "..\\res\\isoimagewriter.manifest"
IDI_ICON1                   ICON        DISCARDABLE    "..\\res\\drive-removable-media.ico"