[Desktop Entry]
Name=ISO Image Writer
Name[ca]=Escriu imatges ISO
Name[ca@valencia]=Escriu imatges ISO
Name[cs]=Nástroj pro zapisování obrazů ISO
Name[el]=ISO Image Writer
Name[es]=ISO Image Writer
Name[gl]=Gravadora de imaxes ISO
Name[ia]=Scriptor de imagine ISO
Name[it]=Scrittore di immagini ISO
Name[nl]=ISO-image-schrijver
Name[pl]=Wgrywanie obrazów ISO
Name[pt]=Gravador de Imagens ISO
Name[sk]=Zapisovač ISO obrazov
Name[sv]=ISO-avbildsskrivning
Name[uk]=Записувач образів ISO
Name[x-test]=xxISO Image Writerxx
Name[zh_CN]=ISO 镜像文件写入器
Exec=isoimagewriter
Icon=drive-removable-media
Type=Application
GenericName=Write an ISO Image to a USB Disk
GenericName[ca]=Escriu una imatge ISO a un disc USB
GenericName[ca@valencia]=Escriu una imatge ISO a un disc USB
GenericName[cs]=Zapsat obraz na ISO na disk USB
GenericName[el]=Εγγραφή εικόνας δίσκου ISO σε USB δίσκο
GenericName[es]=Escribir una imagen ISO en un disco USB
GenericName[gl]=Gravar unha imaxe ISO nun disco USB
GenericName[ia]=Scribe un imagine ISO a un disco USB
GenericName[it]=Scrive un'immagine ISO in un disco USB
GenericName[nl]=Een ISO-image naar een USB-schijf schrijven
GenericName[pl]=Wgrywa obraz ISO na nośnik USB
GenericName[pt]=Gravar uma Imagem ISO num Disco USB
GenericName[sk]=Zapísať ISO obraz na USB disk
GenericName[sv]=Skriv en ISO-avbild till en USB-disk
GenericName[uk]=Програма для запису образів ISO на диски USB
GenericName[x-test]=xxWrite an ISO Image to a USB Diskxx
GenericName[zh_CN]=将 ISO 镜像写入 USB 盘
Categories=System;Utility;
